@font-face {
  font-family: "Ciutadella";
  src: url("./font/ciutadella_rounded_regular-webfont.woff2") format("woff");
  }

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Ciutadella','Helvetica','Arial','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
